.education {
    background-color: #232323;
    overflow: hidden;
}

.education-content {
    display: flex;
    flex-direction: row;
    margin: 30px 150px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.education-content img {
    border-radius: 50%;
    height: 120px;
    margin: 20px;
}

.education-content h4 {
    margin: 0;
    margin-bottom: 10px;
}

.education-content h5, h2 {
    margin: 0;
}

@media screen and (max-width: 700px) {
    .education-content img {
        height: 80px;
        margin: 15px;
    }
}